<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="container">
            <form>
                <input type="search" placeholder="Standort">
                <button> Suchen </button>
            </form>
        </div>

            <p class="result" id="messageOne"></p>

            <p class="result" id="messageTwo"></p>

    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>