body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: white;
    background-color: #ddd;
    margin-top: 16px;
    padding-right: 30px;
    text-align: right;
    border-radius: 20px 20px 0  0;
}

.main-content {
    flex-grow: 1;
}

h1 {
    margin-bottom: 16px;
    font-size: 60px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.container {
    border-radius: 100px;
    background-color: #ddd;
    padding: 40px 30px;
  }

.result {
    padding: 10px 50px;
}

input {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    color: #333;
    outline:none;
    width: 350px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 25px;
    background-color: #888;
    color: white;
    padding: 10px;
    outline:none;
    float: right;
    width: 150px;
}