body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 0 auto;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#sticky-footer {
    flex-shrink: none;
  }

#page-content {
    flex: 1 0 auto;
}

.main-content {
    flex-grow: 1;
}

.portrait {
    width: 250px;
}

.result {
    padding: 10px 50px;
}

input {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    color: #333;
    outline:none;
    width: 350px;
}
